
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 10px 0px 5px;
	text-align: center;
}
body {
	/*background-color: #538C7C;*/
	width: 22em; 
	position: absolute; 
	/*border: 1px solid red;*/ 
	padding: 4px; 
	font-family: sans-serif;
}
.searchPanel{
	margin-left: 290px;
	margin-top: 10px;
}
searchp{
	vertical-align:bottom;
}
filterH1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 10px 0px 5px;
	text-align: left;
}
filterH2 {
	font-size: 1em;
	font-weight: bold;
	color: black;
	margin: 10px 0px 15px;
	text-align: left;
}
filterp {
	font-size: 14px;
	color: black;
	margin: 2px 0px 2px;
	text-align: left;
}
error {
	font-size: 14px;
	color: red;
	margin: 2px 0px 2px;
	text-align: left;
}
.resultTable{
	float: right;
	background-color: #DEF4EE;
	margin: 70px 5px 0px 60px;
	width: 320px;
}
.resultTableRowStyle:hover{
	background-color: #B7DED3;
	cursor: pointer;
}
.resultTableHeader{
	background-color: #538C7C;
	font-weight: bold;
}
.cursor{
	cursor: pointer;
}
.structurePanel{
	background-color: #87CDB9;
	margin: auto;
	border: 15px solid #CAF0E5; 
	padding: 20px 0px 0px 0px;
	font-family: sans-serif;
}
MainTitle {
	/*test*/
	font-size: 3em;
	font-weight: bold;
	color: #456C61;
	padding-left: 10px;
	text-align: left;
}
.centerPanel {
	padding: 15px;
}

.MainUserForm {
	
}

.southwidget {
	padding: 10px 10px 10px 10px;
	background-color: #CAF0E5;
}
subtext {
	color: white;
}