
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}
body {
	background-color: #538C7C;
	width: 22em; 
	position: absolute; 
	border: 1px solid red; 
	padding: 4px; 
	font-family: sans-serif;
}

.structurePanel{
	background-color: #87CDB9;
	margin: auto;
	border: 15px solid #CAF0E5; 
	padding: 20px 0px 0px 0px;
	font-family: sans-serif;
}
MainTitle {
	
	font-size: 3em;
	font-weight: bold;
	color: #456C61;
	padding-left: 10px;
	text-align: left;
}
.centerPanel {
	padding: 15px;
}

.MainUserForm {
	
}

.southwidget {
	padding: 10px 10px 10px 10px;
	background-color: #CAF0E5;
}
subtext {
	color: white;
}