
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 10px 0px 5px;
	text-align: center;
}
body {
	width: 22em; 
	position: absolute; 
	padding: 4px; 
	font-family: sans-serif;
}
error {
	font-size: 14px;
	color: red;
	margin: 2px 0px 2px;
	text-align: left;
}
/*--------------------Sökpanel--------------------*/
.searchPanel {
	margin-left: 290px;
	margin-top: 10px;
}
searchp {
	vertical-align:bottom;
}
/*--------------------FILTER--------------------*/
filterH1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 10px 0px 5px;
	text-align: left;
}
filterH2 {
	font-size: 1em;
	font-weight: bold;
	color: black;
	margin: 10px 0px 15px;
	text-align: left;
}
filterp {
	font-size: 14px;
	color: black;
	margin: 2px 0px 2px;
	text-align: left;
}
.FormFrame {
	border: 1px solid red; 
}
.resultTable {
	background-color: #DEF4EE;
	width: 320px;
}
.resultFrame {
	float: right;
	margin: 90px 5px 0px 50px;
}
.resultTableRowStyle:hover {
	background-color: #B7DED3;
	cursor: pointer;
}
.resultTableHeader {
	background-color: #538C7C;
	font-weight: bold;
}
.cursor {
	cursor: pointer;
}
/*--------------------Huvudsidan--------------------*/
.structurePanel {
	background-color: #87CDB9;
	margin: auto;
	border: 15px solid #CAF0E5; 
	padding: 20px 0px 0px 0px;
	font-family: sans-serif;
}
.centerPanel {
	padding: 15px;
}
.southwidget {
	padding: 10px 10px 10px 10px;
	background-color: #CAF0E5;
}
subtext {
	color: white;
}
/*--------------------Startsidan--------------------*/
MainTitle {
	font-size: 3em;
	font-weight: bold;
	color: #456C61;
	padding-left: 10px;
	text-align: left;
}
/*--------------------Userview--------------------*/
userH1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 2px 0px 5px;
	text-align: center;
}
bold {
	font-weight: bold;
	font-family: sans-serif;
}
.topPanel {
	border: 2px solid red;
}
.bottomPanel {
	border: 2px solid blue;
}
.rightPanel {
	border: 2px solid green;
}
.leftPanel {
	border: 2px solid pink;
}